<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
		</div>
		<!-- Show the "ultimos" products -->
		<form class="formulario" action="./profile" method="GET">
				<div class="label-input">
					<label for="user" class="form-label">Usuario</label>
					<input class = "border" type="text" class="user">
				</div>
				<div class="label-input">
					<label for="password" class="form-label">Contraseña</label>
					<input class = "border" type="password" class="password" >
				</div>
				<div class="label-input form-check">
					<input class = "border" type="checkbox" class="check">
					<label  for="check" >Recordame</label>
				</div>
				<button type="submit" class="btn btn-primary">Log In</button>
		</form>
	</div>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>