<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
		</div>
		<!-- Show the "ultimos" products -->
		<form id="register" action="./profile" method="GET">
				<div class="label-input">
					<label for="formGroupExampleInput" class="form-label">Usuario</label>
					<input class = "border" type="text" class="form-control" id="formGroupExampleInput" name="user" placeholder="">
				</div>
				<div class="label-input">
					<label for="exampleInputPassword1" class="form-label">Contraseña</label>
					<input class = "border" type="password" class="form-control" id="exampleInputPassword1" name="password">
				</div>
				<div class="label-input form-check">
					<input class = "border" type="checkbox" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1">Recordame</label>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>