<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>
					<!-- Solo deslogueado <li>
							<a href="register.html">Cre치 tu cuenta <i class="far fa-address-card"></i>
							</a>
						</li>
						<li>
							<a href="login.html">Ingres치 <i class="fas fa-sign-in-alt"></i></a>
						</li> -->
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<form method="GET" action="/product/create">
				<input name="imagen" type="file">
				<input name="nombre" type="text" placeholder="nombre del producto">
				<input name="descripci칩n" type="text" placeholder="descripci칩n">
				<input name="fecha" type="date">
				<input type="submit">
			</form>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>
			</h2>
		</div>
	</div>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>