<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>
					<!-- Solo deslogueado <li>
							<a href="register.html">Cre치 tu cuenta <i class="far fa-address-card"></i>
							</a>
						</li>
						<li>
							<a href="login.html">Ingres치 <i class="fas fa-sign-in-alt"></i></a>
						</li> -->
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
		</div>
		<form class="formulario" method="GET" action="/profile">
			<div class="label-input">
				<label for="formGroupExampleInput" class="form-label">Modelo</label>
				<input class = "border form-control" type="text" id="formGroupExampleInput">
			</div>

			<div class="label-input">
				<label for="formGroupExampleInput" class="form-label">Marca</label>
				<input class = "border form-control" type="text" id="formGroupExampleInput">
			</div>

			<div class="label-input">
				<label for="formGroupExampleInput" class="form-label">A침o</label>
				<input class = "border form-control" type="number" id="formGroupExampleInput">
			</div>

			<div class="label-input">
				<label for="formGroupExampleInput" class="form-label">Color</label>
				<input class = "border form-control" type="text" id="formGroupExampleInput">
			</div>

			<div class="label-input">
				<label for="formGroupExampleInput" class="form-label">Memoria</label>
				<input class = "border form-control" type="number" id="formGroupExampleInput" placeholder="Numero de GB">
			</div>

			<div class="label-input">
				<label for="formGroupExampleInput" class="form-label">Tama침o</label>
				<input class = "border form-control" type="number" id="formGroupExampleInput" placeholder="Numero en pulgadas">
			</div>

			<div class="label-input">
				<label for="form-control" id="inputDob">Fecha de carga</label>
				<input class = "border form-control" type="date" class="form-date">
			</div>

			<div class="label-input">
				<label for="form-control" id="inputFoto">Foto del Producto</label>
				<input type="file" class="form-file">
			</div>
			<button type="submit" class="btn btn-primary">Cargar</button>
		</form>
	</div>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>