<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>
				<br> 
				<form>
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Email</label>
						<br>
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
					</div>
					<br>
					<div class="mb-3">
						<label for="formGroupExampleInput" class="form-label">Usuario</label>
						<br>
						<input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
					</div>
					<br>
					<div class="mb-3">
						<label for="exampleInputPassword1" class="form-label">Contraseña</label>
					<br>
						<input type="password" class="form-control" id="exampleInputPassword1">
					</div>
					<br>
					<div class="mb-3 form-check">
						<input type="checkbox" class="form-check-input" id="exampleCheck1">
						<label class="form-check-label" for="exampleCheck1">Recordame</label>
					</div>
					<br>
					<div class="mb-3">
						<label for="form-control" id="inputDob">Fecha de nacimiento</label>
					<br>
						<input type="date" class="form-date">
					</div>
					<br>
					<div class="mb-3">
						<label for="form-control" id="inputDni">D.N.I.</label>
					<br>
						<input type="number" class="form-number">
					</div>
					<br>
					<div class="mb-3">
						<label for="form-control" id="inputFoto">Foto de perfil</label>
					<br>
						<input type="file" class="form-file">
					</div>
					<br>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
				<br>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>